@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    body {
        background: var(--background);
        color: var(--foreground);

        position: relative;
        text-rendering: geometricPrecision;
        font-smooth: always;
    }
}

@keyframes skeleton-shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;

    --white-pallete-100: #fff;
    --white-pallete-90: rgba(255, 255, 255, 0.9);
    --white-pallete-80: rgba(255, 255, 255, 0.8);
    --white-pallete-60: rgba(255, 255, 255, 0.6);
    --white-pallete-40: rgba(255, 255, 255, 0.4);
    --white-pallete-20: rgba(255, 255, 255, 0.2);
    --white-pallete-15: rgba(255, 255, 255, 0.15);
    --white-pallete-10: rgba(255, 255, 255, 0.1);
    --white-pallete-50: rgba(255, 255, 255, 0.05);

    --neutrals-1: #2e3b52;
    --neutrals-2: #657997;
    --neutrals-3: #95accb;
    --neutrals-4: #c3d7ed;
    --neutrals-5: #dbe3f1;
    --neutrals-6: #e9eef7;
    --neutrals-7: #f9fafc;
    --neutrals-8: #e9edf5;
    --neutrals-9: #fff;

    --geek-blue-1: #f0f5ff;
    --geek-blue-2: #d6e4ff;
    --geek-blue-3: #adc6ff;
    --geek-blue-4: #85a5ff;
    --geek-blue-5: #597ef7;
    --geek-blue-6: #2f54eb;
    --geek-blue-7: #1d39c4;
    --geek-blue-8: #10239e;
    --geek-blue-9: #061178;
    --geek-blue-10: #030852;
    --geek-blue-11: #010009;

    --geek-blue-primary-opacity-50: rgba(29, 57, 196, 0.05);
    --geek-blue-primary-opacity-100: rgba(29, 57, 196, 0.1);
    --geek-blue-primary-opacity-150: rgba(29, 57, 196, 0.15);
    --geek-blue-primary-opacity-200: rgba(29, 57, 196, 0.2);
    --geek-blue-primary-opacity-300: rgba(29, 57, 196, 0.3);
    --geek-blue-primary-opacity-400: rgba(29, 57, 196, 0.4);
    --geek-blue-primary-opacity-500: rgba(29, 57, 196, 0.5);
    --geek-blue-primary-opacity-600: rgba(29, 57, 196, 0.6);
    --geek-blue-primary-opacity-700: rgba(29, 57, 196, 0.7);
    --geek-blue-primary-opacity-800: rgba(29, 57, 196, 0.8);
    --geek-blue-primary-opacity-900: rgba(29, 57, 196, 0.9);
    --geek-blue-primary-opacity-1000: rgba(29, 57, 196, 1);

    --green-50: #9eff00;
    --green-60: #b1ff33;
    --green-70: #c5ff66;
    --green-80: #d8ff99;
    --green-90: #ecffcc;
    --green-95: #f5ffe5;
    --green-97: #f9fff0;
    --green-99: #fdfffa;

    --daybreak-blue-50: rgba(24, 144, 255, 0.05);
    --daybreak-blue-100: rgba(24, 144, 255, 0.1);
    --daybreak-blue-150: rgba(24, 144, 255, 0.15);
    --daybreak-blue-200: rgba(24, 144, 255, 0.2);
    --daybreak-blue-400: rgba(24, 144, 255, 0.4);
    --daybreak-blue-600: rgba(24, 144, 255, 0.6);
    --daybreak-blue-800: rgba(24, 144, 255, 0.8);
    --daybreak-blue-1000: #1890ff;

    --sunrise-yellow-50: rgba(250, 219, 20, 0.05);
    --sunrise-yellow-100: rgba(250, 219, 20, 0.1);
    --sunrise-yellow-150: rgba(250, 219, 20, 0.15);
    --sunrise-yellow-200: rgba(250, 219, 20, 0.2);
    --sunrise-yellow-400: rgba(250, 219, 20, 0.4);
    --sunrise-yellow-600: rgba(250, 219, 20, 0.6);
    --sunrise-yellow-800: rgba(250, 219, 20, 0.8);
    --sunrise-yellow-1000: #fadb14;
    --sunrise-yellow-101: #d4b106;

    --volcano-50: rgba(250, 84, 28, 0.05);
    --volcano-100: rgba(250, 84, 28, 0.1);
    --volcano-150: rgba(250, 84, 28, 0.15);
    --volcano-200: rgba(250, 84, 28, 0.2);
    --volcano-400: rgba(250, 84, 28, 0.4);
    --volcano-600: rgba(250, 84, 28, 0.6);
    --volcano-800: rgba(250, 84, 28, 0.8);
    --volcano-1000: #fa541c;

    --cyan-50: rgba(19, 194, 194, 0.05);
    --cyan-100: rgba(19, 194, 194, 0.1);
    --cyan-150: rgba(19, 194, 194, 0.15);
    --cyan-200: rgba(19, 194, 194, 0.2);
    --cyan-400: rgba(19, 194, 194, 0.4);
    --cyan-600: rgba(19, 194, 194, 0.6);
    --cyan-800: rgba(19, 194, 194, 0.8);
    --cyan-1000: #13c2c2;

    --accent-color-dengerous-1: #c41d1d;
    --accent-color-dengerous-2: #a11414;
    --accent-color-dengerous-3: #c71a1a;
    --accent-color-dengerous-4: #7c1111;
    --accent-color-success-1: #1dc45d;
    --accent-color-success-2: #18a64e;
    --accent-color-success-3: #1ec85f;
    --accent-color-success-4: #179142;

    --desert-storm: #f8f8f8;
    --blue-pot: #13184E;
    --black-pearl: #021528;
}

.radial-gradient-border::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset: 0;
    border-radius: 1.75rem;
    z-index: -1;
    padding: 0.046rem;
    background: radial-gradient(
            circle,
            rgba(133, 165, 255, 0.48) 0%,
            rgba(16, 35, 158, 0.48) 100%
    );
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
}

progress::-webkit-progress-bar {
    background: var(--geek-blue-primary-opacity-150);
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, #2fbceb 0%, #2f54eb 100%);
}

progress::-moz-progress-bar {
    background: linear-gradient(90deg, #2fbceb 0%, #2f54eb 100%);
}

.activity-scroll {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.activity-scroll::-webkit-scrollbar {
    width: 12px;
}

.activity-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.activity-scroll::-webkit-scrollbar-thumb {
    background: transparent;
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 999px;
}

.activity-scroll:hover {
    scrollbar-color: var(--white-pallete-20) transparent;
}

.activity-scroll:hover::-webkit-scrollbar-thumb {
    background: var(--white-pallete-20);
    border: 4px solid transparent;
    background-clip: padding-box;
}